body {
  background-color: aliceblue;
  font-family: "Racing Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.weather-app {
  background-color: royalblue;
  max-width: 650px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 250px 250px 10px 10px;
}
.weather-app-info {
  background: linear-gradient(to bottom, rgba(65, 105, 255, 0.3), royalblue);
  color: #fff;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
}

.weather-icon {
  font-size: 80px;
  margin: 5px;
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city-search {
  display: flex;
  gap: 10px;
}
.city-search input[type="search"] {
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  width: 300px;
  outline: none;
}
.city-search input[type="submit"] {
  padding: 10px;
  border: none;
  background-color: yellow;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color, 0.3s, ease-in-out;
}
.city-search input[type="submit"]:hover {
  background-color: rgba(255, 213, 0, 1);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0px;
}
.app-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  padding-bottom: 0px;
  padding: 5px 0;
}
.current {
  display: block;
  margin-top: -25px;
  font-size: 18px;
}
.current-temp {
  font-size: 100px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.current-temp-unit {
  font-size: 40px;
  position: relative;
  top: -20px;
}
.city-info,
.weather-info {
  flex: 1;
  text-align: right;
}

.five-day-forecast {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: 5px;
  margin-top: 10px;
}
.five-day-forecast div {
  background: rgba(225, 225, 225, 0.2);
  padding: 10px;
  border-radius: 10px;
  flex: 1;
  text-align: center;
}
.day {
  color: rgba(255, 213, 0, 1);
}
footer {
  font-size: 14px;
  font-weight: lighter;
  margin: 10px;
  text-align: center;
}
footer a {
  color: yellow;
}
a:visited {
  color: rgba(255, 213, 0, 1);
}
